* {
  font-family: "Space Grotesk", sans-serif;
  margin: 0;
}

body {
  background-color: #1E2230;
  color: #fff;

  font-family: "Space Grotesk", sans-serif;
  font-size: 12pt;
}

.page {
  margin: 32px 60px;
}

.content {
  margin: 40px 0px;
}

.nav-link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
}

/* .nav-link:visited {
  text-decoration: none;
  color: #fff;
} */

h1 {
  font-size: 28pt;
  margin: 4px 0px;
}

h2 {
  font-size: 20pt;
  margin: 8px 0px;

}

h3 {
  font-size: 18pt;
  font-weight: 600;
}

h4 {
  font-size: 16pt;
  font-weight: 600;
}

h5 {
  font-size: 14pt;
  font-weight: 600;
}

h6 {
  font-size: 14pt;
  font-weight: 500;
}

.h-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bold {
  font-weight: 700;
}

.body-large {
  font-size: 14pt;
}

.small-label {
  font-size: 11pt;
  font-weight: 400;
}

.subtle {
  color: #777A85;
}

input {
  font-size: 12pt;
  padding: 10px;

  color: #fff;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;

  background-color: var(--input-color);
  border: 0;
  border-radius: 4px;
}

input::placeholder {
  color: #CACACA;
  font-weight: 400;
}

button {
  background-color: transparent;
  color: 3fff;
  border: 0;
  font-size: 12pt;
  padding: 4px 12px;
  font-weight: 500;

  display: flex;
  align-items: center;

  border-radius: 4px;
}

button:hover {
  cursor: pointer;
}

button.coral.square:disabled {
  cursor: default;
  opacity: 0.5;
}

button:disabled {
  cursor: default;
  opacity: 0.5;
}

.square {
  border-radius: 4px;
}

.coral {
  background-color: var(--warm-coral);
  color: #fff;
}

.coral-text {
  color: var(--warm-coral)
}

.red-text {
  color: var(--red-text);
}

.vibrant-blue {
  color: var(--vibrant-blue);
}

.vibrant-blue-bg {
  background-color: var(--vibrant-blue);
  color: #fff;
}

.subtle-gray-bg {
  background-color: var(--subtle-gray);
  color: #fff;
}

.auth-page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.auth-page::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  z-index: -1;

  background-color: #282C35;
  /* background-image: url('grain.png'); */
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='100%25'%20height='100%25'%3E%3Cfilter%20id='noiseFilter'%3E%3CfeTurbulence%20type='fractalNoise'%20baseFrequency='0.8'%20numOctaves='4'%20stitchTiles='stitch'/%3E%3C/filter%3E%3Crect%20width='100%25'%20height='100%25'%20filter='url(%23noiseFilter)'%20fill='white'/%3E%3C/svg%3E");
  background-repeat: repeat;
  opacity: 0.7;
  mix-blend-mode: overlay;

  pointer-events: none;
}

.login-form {
  padding: 40px 40px;
  width: 500px;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--container-color);
  border-radius: 4px;
}

.fields {
  width: 100%;
  margin: 12px auto;
}

.field-pairs {
  display: flex;
  flex-direction: column;

  margin: 16px 50px;
}

.field-pairs>label{
  font-size: 14pt;
  font-weight: 600;
  margin-bottom: 4px;
}

.small-label>button {
  display: inline;
  padding: 0;
  margin-left: 2px;
  background-color: transparent;
}

.invalid-input {
  border: 1px solid var(--red-text);
}

.invalid-input:focus{
  border: 1px solid var(--red-text);
  outline: none;
}

.card {
  display: block;
  background-color: var(--container-color);
  padding: 12px 16px;
  border-radius: 4px;
  max-width: 300px;
}

.small.card {
  max-width: 200px;
}

.group.card:hover > h4 {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #fff;
}

.profile-pic {
  background-color: gray;
  border-radius: 200px;
}

.profile-pic.med {
  background-color: gray;
  width: 32px;
  height: 32px;
}

.profile-pic.large {
  width: 60px;
  height: 60px;
}

.dropdown {
  width: 200px;
  background-color: var(--container-color);

  padding: 20px;

  border-radius: 4px;
}

.container-shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 8px;

}

.dotted {
  box-sizing: border-box;
  border: dashed 2px var(--subtle-gray);
}

.circle {
  border-radius: 200px;
}

.friend-card > .profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.friend-card {
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.friend-card > * {
  text-align: center;
}

.modal {
  background-color: var(--container-color);

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);

  width: 400px;

  border-radius: 8px;
  padding: 20px;

  box-sizing: border-box;

  opacity: 1;
  transition: opacity 800ms cubic-bezier(0.25, 0.8, 0.25, 1);
  pointer-events: auto;
}

.fade-out {
  opacity: 0;
  pointer-events: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}