body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --input-color: rgba(91, 95, 106, 0.8);
  --container-color: #3A3F4B;
  --warm-coral: #FF7A59;
  --red-text: #FF4C4C;
  --vibrant-blue: #4a90e2;
  --subtle-gray: #777A85;
}

